<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> Team Name: <%= @para[:name]%></h1>
   <h2>Coach: <%=@para[:coach]%></h2>
   <h2>Point Guard: <%=@para[:pg]%></h2>
   <h2>Shooting Guard: <%=@para[:sg]%></h2>
   <h2>Small Forward: <%=@para[:sf]%></h2>
   <h2>Power Forward: <%=@para[:pf]%></h2>
   <h2>Center: <%=@para[:c]%></h2>

 </body>
</html>
